<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstName" value="Вадим"/>
    <add key="MobilePhone" value="+375331111111"/>
    <add key="MailAdress" value="someadr1@mail.ru"/>
    <add key="StartOrder" value="13/09/2010"/>
    <add key="EndOrder" value="19/12/2020"/>
  </appSettings>
</configuration>