<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstName" value="Владислав"/>
    <add key="MobilePhone" value="+375331111111"/>
    <add key="MailAdress" value="someadr@mail.ru"/>
    <add key="StartOrder" value="11/09/2010"/>
    <add key="EndOrder" value="11/09/2020"/>
  </appSettings>
</configuration>