<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstName" value="Владислав"/>
    <add key="MobilePhone" value="+375331111111"/>
    <add key="MailAdress" value="someadr@mail.ru"/>
    <add key="StartOrder" value="16/12/2019"/>
    <add key="EndOrder" value="20/12/2019"/>
  </appSettings>
</configuration>